<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Demonstrates the use of Google Cloud Database with a Firebase DB">
	<title>NYSL App</title>

	<!-- Disable tap highlight on IE -->
	<meta name="msapplication-tap-highlight" content="no">

	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="application-name" content="Firebase Database Quickstart">
	<meta name="theme-color" content="#303F9F">

	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="Firebase Database Quickstart">
	<meta name="apple-mobile-web-app-status-bar-style" content="#303F9F">

	<!-- Tile icon for Win8 -->
	<meta name="msapplication-TileColor" content="#3372DF">
	<meta name="msapplication-navbutton-color" content="#303F9F">

	<!-- Material Design Lite -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-orange.min.css">
	<script src="https://code.getmdl.io/1.1.3/material.min.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="style/style.css">

	<!-- update the version number as needed -->
	<script defer src="/__/firebase/6.2.1/firebase-app.js"></script>
	<!-- include only the Firebase features as you need -->
	<script defer src="/__/firebase/6.2.1/firebase-auth.js"></script>
	<script defer src="/__/firebase/6.2.1/firebase-database.js"></script>
	<script defer src="/__/firebase/6.2.1/firebase-messaging.js"></script>
	<script defer src="/__/firebase/6.2.1/firebase-storage.js"></script>
	<!-- initialize the SDK after all desired features are loaded -->
	<script defer src="/__/firebase/init.js"></script>

</head>

<body>
	<div id="app" class="container">
		<header class="row fixed-top">
			<div class="col-2">
				<img class="logo" src="style/images/nysl_logo.png">
			</div>
			<div class="col-8 text-center">
				<h1 v-show="section == 'home'" class="align-middle">Northside Youth Soccer League</h1>
				<h1 v-show="section == 'game_info'" class="align-middle">Game Information</h1>
				<h1 v-show="section == 'game_loc'" class="align-middle">Game Locations</h1>
				<h1 v-show="section == 'contact'" class="align-middle">Contact</h1>
			</div>
			<div class="col-2">
			</div>
			<div id="back" class="col-12">
				<a v-show="section == 'home'"></a>
				<a v-show="section == 'game_info'" onclick="cambiarSection('home')"><img src="style/images/back.png"
						id="back-btn1" class="float-left"></a>
				<a v-show="section == 'game_loc'" onclick="cambiarSection('home')"><img src="style/images/back.png"
						id="back-btn1" class="float-left"></a>
				<a v-show="section == 'contact'" onclick="cambiarSection('home')"><img src="style/images/back.png"
						id="back-btn1" class="float-left"></a>
			</div>
		</header>
		<div v-show="section == 'home'">
			<section>
				<a class="col-12 btn btn-secundary" onclick="cambiarSection('game_info')" role="button">
					<h3 class="float-left">Game Information</h3>
				</a>
				<a class="col-12 btn btn-secundary " onclick="cambiarSection('game_loc')" role="button">
					<h3 class="float-left">Game Locations</h3>
				</a>
				<a class="col-12 btn btn-secundary" onclick="cambiarSection('contact')" role="button">
					<h3 class="float-left">Contact</h3>
				</a>
			</section>
		</div>
		<div v-show="section == 'game_info'">
			<section>
				<div>
					<h5>Month:
						<select id="dropMonths">
							<option value="">All</option>
						</select>
					</h5>
				</div>
				<div class="row">
					<div id="table-data" class="showPortrait">
						<table class="table">
							<thead class="thead">
								<tr>
									<th>Date</th>
									<th>Teams</th>
									<th>Location</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(partido, index) in partidos">
									<td>{{partido.date}} At <br> {{partido.times}}</td>
									<td>{{partido.team1}} VS {{partido.team2}}</td>
									<td>
										<a v-bind:href="partido.url">{{partido.location}}</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="showLandscape">
						<div id="table-data" class="ls-33">
							<table class="table">
								<thead class="thead">
									<tr>
										<th>Information</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(partido, index) in partidos">
										<td>
											<h5>{{partido.team1}} VS {{partido.team2}}</h5><br>
											<h5>Date:{{partido.date}}</h5><br>
											<h5>Time:{{partido.times}}</h5><br>
											<button type="button" class="btn" v-on:click="matchDetails(partido.matchId)" :id="partido.matchId">
												<h5><a class="btn-place-class" v-bind:id="'btn-place' + index"
														v-on:click="selectPlace(partido.url, index)">{{partido.location}}</a>
												</h5>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="text-center mb-3 ls-66">
							<div>
								<iframe id="map-selected"
									src="https://www.google.com/maps/d/embed?mid=1QnaR8ef5aC4r4C255jypOHspc2YYhLka" width='100%' height='200' frameborder='0'
									allowfullscreen></iframe>
							</div>
							<div>
								<button class="btn text-white mt-2" v-on:click="mForum(detailedMatch.id)">
									<h5><u>Go to match's forum</u></h5>
								</button>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div v-show="section == 'game_loc'">
			<section>
				<div class="col-12 col-sm-8 offset-sm-2 accordion" id="locationAccord">
					<button class="btn btn-block" type="button" data-toggle="collapse" data-target="#collapse1"
						aria-expanded="false" aria-controls="collapse1" id="heading1">
						<h5 class="float-left pt-1 pl-3">AJ Katzenmaier</h5>
					</button>
					<div id="collapse1" class="collapse justify-content-center" aria-labelledby="heading1"
						data-parent="#locationAccord">
						<object class="mapp"
							data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.6540278726093!2d-87.63123838489135!3d41.90029707200436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd34e07f6bac3%3A0x68a82e5d59952c86!2s24+W+Walton+St%2C+Chicago%2C+IL+60610%2C+EE.+UU.!5e0!3m2!1ses-419!2sar!4v1528809062346"
							width="280" height="280"></object>
					</div>
					<button class="btn btn-block" type="button" data-toggle="collapse" data-target="#collapse2"
						aria-expanded="false" aria-controls="collapse2" id="heading2">
						<h5 class="float-left pt-1 pl-3">Greenbay</h5>
					</button>
					<div id="collapse2" class="collapse justify-content-center" aria-labelledby="heading2"
						data-parent="#locationAccord">
						<object class="mapp"
							data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.0256428537773!2d-87.64002868489094!3d41.91380747115841!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd34073f306a3%3A0x9e1726bbf8f23f0e!2s1734+N+Orleans+St%2C+Chicago%2C+IL+60614%2C+EE.+UU.!5e0!3m2!1ses-419!2sar!4v1528809454684"
							width="280" height="280"></object>
					</div>
					<button class="btn btn-block" type="button" data-toggle="collapse" data-target="#collapse3"
						aria-expanded="false" aria-controls="collapse3" id="heading3">
						<h5 class="float-left pt-1 pl-3">Howard A Yeager</h5>
					</button>
					<div id="collapse3" class="collapse justify-content-center" aria-labelledby="heading3"
						data-parent="#locationAccord">
						<object class="mapp"
							data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2968.5854973846967!2d-87.66511458489059!3d41.92326857056588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd2e37f9b8d2d%3A0x62ad8b907dd755d6!2s2245+N+Southport+Ave%2C+Chicago%2C+IL+60614%2C+EE.+UU.!5e0!3m2!1ses-419!2sar!4v1528809503672"
							width="280" height="280"></object>
					</div>
					<button class="btn btn-block" type="button" data-toggle="collapse" data-target="#collapse4"
						aria-expanded="false" aria-controls="collapse4" id="heading4">
						<h5 class="float-left pt-1 pl-3">Marjorie P Hart</h5>
					</button>
					<div id="collapse4" class="collapse justify-content-center" aria-labelledby="heading4"
						data-parent="#locationAccord">
						<object class="mapp"
							data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2968.2916358899315!2d-87.64808498489039!3d41.92958427017035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd30f2630e551%3A0x3e719e44a5cef714!2s2625+N+Orchard+St%2C+Chicago%2C+IL+60614%2C+EE.+UU.!5e0!3m2!1ses-419!2sar!4v1528809657719"
							width="280" height="280"></object>
					</div>
					<button class="btn btn-block" type="button" data-toggle="collapse" data-target="#collapse5"
						aria-expanded="false" aria-controls="collapse5" id="heading5">
						<h5 class="float-left pt-1 pl-3">North Elementary</h5>
					</button>
					<div id="collapse5" class="collapse justify-content-center" aria-labelledby="heading5"
						data-parent="#locationAccord">
						<object class="mapp"
							data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.3363025419712!2d-87.64835588489113!3d41.90712867157664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd33af13a8945%3A0xb6ad1ec2b6f379ba!2s1409+N+Ogden+Ave%2C+Chicago%2C+IL+60610%2C+EE.+UU.!5e0!3m2!1ses-419!2sar!4v1528809727561"
							width="280" height="280"></object>
					</div>
					<button class="btn btn-block" type="button" data-toggle="collapse" data-target="#collapse6"
						aria-expanded="false" aria-controls="collapse6" id="heading6">
						<h5 class="float-left pt-1 pl-3">South Elementary</h5>
					</button>
					<div id="collapse6" class="collapse justify-content-center" aria-labelledby="heading6"
						data-parent="#locationAccord">
						<object class="mapp"
							data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2968.7478346106604!2d-87.65355788489074!3d41.91977927078447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd3196fb41dc7%3A0x970be7f7d6336df5!2s2101+N+Fremont+St%2C+Chicago%2C+IL+60614%2C+EE.+UU.!5e0!3m2!1ses-419!2sar!4v1528809778734"
							width="280" height="280"></object>
					</div>
				</div>
			</section>
		</div>
		<div v-show="section == 'contact'">
			<section class="row" id="home">
				<div class="col-12">
					<p>
						<b>More Info:</b> <a href="#" onclick="cambiarSection('home')">www.nysl.com</a>.<br>
						<b>Mail to:</b> <a href="mailto:michael.randall@chisoccer.org">Michael Randall, League
							Coordinator</a>.
					</p>
				</div>
			</section>
		</div>
		
	</div>

	<footer class="col-12 card-footer">
		<p class="text-center">®2019 FullStack |All Rights Reserved</p>
	</footer>

	<!----<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>-->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="script/nysl_partidos.js"></script>
	<script src="script/mainVue.js"></script>
	<script src="script/main.js"></script>
	<script src="script/chat.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
		</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
		integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous">
		</script>

</body>

</html>